@charset "utf-8";
/* CSS Document */


/* Author: Ixtendo */

/* ---------------------------------------------------------------------- */
/* Imported Stylesheets
/* ---------------------------------------------------------------------- */
@import url('css/bootstrap.min.css');
@import url('css/bootstrap-responsive.min.css');
@import url('css/prettyPhoto.css');
@import url('css/ui.totop.css');

/* ---------------------------------------------------------------------- */
/* Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-Generic
-Headings
-Text & Content Blocks
-Navigation
-Header
-Content
-Footer
-Media Queries
------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
body {
	padding: 0;	
}

/* ---------------------------------------------------------------------- */
/* Headings
/* ---------------------------------------------------------------------- */
h2 {
	background-color: #0088CC;
	color: #fff;
	padding: 15px;
	border-radius: 4px;
}

/* ---------------------------------------------------------------------- */
/* Text & Content Blocks
/* ---------------------------------------------------------------------- */
#header, #nav-wrap, section, #footer {
	margin-bottom: 40px;
}

/* ---------------------------------------------------------------------- */
/* Containers
/* ---------------------------------------------------------------------- */
#container {
	padding-top: 40px;	
}

#header, #content, #footer {
	width: 940px;
	margin-left: 29%; /* nav width + nav margin + margin left */
	max-width: 69%;
	margin-right: 2%;
}

/* ---------------------------------------------------------------------- */
/* Navigation
/* ---------------------------------------------------------------------- */
#nav-wrap {
	position: fixed;
	top: 10px;
	left: 0;
	z-index: 10;
    width: 220px;
    max-width: 25%;
    margin-left: 2%;
}

#nav-wrap ul {
	padding: 0;
	border-radius: 4px;
	box-shadow: 0 1px 4px rgba(0,0,0,0.067);	
}

#nav-wrap a {	
	display: block;
	padding: 8px 10px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	margin: 0 0 -1px;
	*zoom: 1; /* IE7 */
}

#nav-wrap ul li:first-child a {	
	border-radius: 4px 4px 0 0;
}

#nav-wrap ul li:last-child a {	
	border-radius: 0 0 4px 4px;
}

#nav-wrap a:hover {	
	background-color: #f5f5f5;
}

#nav-wrap li.active a {
	border: none;
	padding: 9px 10px;
	position: relative;
	z-index: 2;
	background-color: #0088CC;	
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
}

#nav-wrap i {	
	float: right;
	opacity: 0.25;
	filter:alpha(opacity=25);
	margin-right: -6px;
	margin-top: 2px;
}

#nav-wrap a:hover i {	
	opacity: 0.5;
	filter:alpha(opacity=50);
}

#nav-wrap li.active i {
	opacity: 1;
	filter:alpha(opacity=100);
}

/* ---------------------------------------------------------------------- */
/* Header
/* ---------------------------------------------------------------------- */
#header h1, #header .meta {
	text-align: center;		
}

/* ---------------------------------------------------------------------- */
/* Content
/* ---------------------------------------------------------------------- */

.table thead tr.success th {
    background-color: #DFF0D8;
}

.table thead tr.error th {
    background-color: #F2DEDE;
}

.table thead tr.warning th {
    background-color: #FCF8E3;
}

.table thead tr.info th {
    background-color: #D9EDF7;
}

.example-box:after {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Example";
	font-size: 12px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	left: -1px;
	top: -1px;
}

.example-box {
    background-color: #FFF;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.example-box  + .example-code  {
    margin-top: -20px;
    padding-top: 15px;
}

pre.example-code {
    margin-bottom: 20px;
}

.example-code {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    padding: 8px;
}

.info-box:after {
	background-color: #F5F5F5;
	border: 1px solid #DDD;
	border-radius: 4px 0 4px 0;
	color: #9DA0A4;
	content: "Info Message";
	font-size: 12px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	left: -1px;
	top: -1px;
}

.info-box {
    background-color: #DFF0D8;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.info-box  + .info-message  {
    margin-top: -20px;
    padding-top: 15px;
}

.warning-box:after {
    background-color: #F5F5F5;
    border: 1px solid #DDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "ATTENTION";
    font-size: 12px;
    font-weight: bold;
    padding: 3px 7px;
    position: absolute;
    left: -1px;
    top: -1px;
}

.warning-box {
    background-color: #F2DEDE;
    border: 1px solid #DDD;
    border-radius: 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.warning-box  + .info-message  {
    margin-top: -20px;
    padding-top: 15px;
}

/* ---------------------------------------------------------------------- */
/* Footer
/* ---------------------------------------------------------------------- */
#footer {
	padding-top: 40px;
	border-top: 1px solid #e5e5e5;	
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #888;
}

.author-signature {
	font: bold italic 18px Georgia, "Times New Roman", Times, serif;
	color: #333;
}

/* ---------------------------------------------------------------------- */
/* Media Queries
/* ---------------------------------------------------------------------- */

/* Styles for Desktop */
.tinynav { 
	display: none;
	color: #fff;
	background-color: #0088CC;
	border: none;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	width: 100%;
    font-size: 31.5px;
    line-height: 66px;
    font-weight: bold;
    padding: 15px;
	height: 70px;
}

.tinynav option { 
	padding: 4px 15px;
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	
	#container {
		margin-left: 2%;
		margin-right: 2%;
        padding-top: 110px;
	}
	
	#nav-wrap {
		left: auto;
		top: 0;
		width: 96%;
		max-width: 96%;
		margin-left: 0;
	}
	
	#header, #content, #footer {
		margin-left: 0;
		margin-right: 0;
		width: 100%;
		max-width: 100%;
	}
	
	.tinynav { 
		display: block; 
	}
	
	.nav { 
		display: none;
	}
  
}