@charset "utf-8";
/* CSS Document */

/* ---------------------------------------------------------------------- */
/* WordPress Admin Interface Styles
/* ----------------------------------------------------------------------
TABLE OF CONTENTS

-Generic
-Portfolio
-Forms
-Tabs
-Accordion
-Shortcodes
-Widgets
-Editor
-Slider Manager
-Translation Manager
-Styling
-IE7 & IE8
------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------- */
/* Generic
/* ---------------------------------------------------------------------- */
.clearfix:before, .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

hr {
    border: none;
    height: 1px;
    margin: 20px 0;
    background-color: #dfdfdf;
    color: #dfdfdf;
}

textarea {
    overflow: auto; /* removes scroll bars in IE */
}

textarea, input, select {
    margin: 0;
}

#sidebar-list {
    margin-top: 10px;
}

input + .upload-button {
    margin-left: 3px !important;
}

.button, .button-primary, .button-secondary {
    margin-right: 3px;
}


.theme-option-media-wrap img {
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    display: block;
    float: left;
    height: auto;
    max-width: 100%;
    padding: 4px;
    margin-top: 5px;
}

/* ---------------------------------------------------------------------- */
/* Portfolio
/* ---------------------------------------------------------------------- */

/* Slides */

ul.slides {
    overflow: hidden;
}

ul.slides li {
    float: left;
    margin: 0 10px 10px 0;
    background-color: #fff;
    text-align: right;
    border-bottom: 1px solid #dfdfdf;
}

ul.slides div {
    width: 150px;
    height: 150px;
    overflow: hidden;
}

ul.slides img {
    display: block;
}

ul.slides a {
    display: inline-block;
    padding: 5px 10px;
}

/* ---------------------------------------------------------------------- */
/* Forms
/* ---------------------------------------------------------------------- */
.generic-form {
    margin-top: 20px;
}

.generic-form:first-child {
    margin-top: 0;
}

.generic-form fieldset {
    margin: 10px 0 20px;
    border: 1px solid #dfdfdf;
    background-color: #f5f5f5;
    border-radius: 3px;
    padding: 10px;
}

.generic-form legend {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 5px 10px;
}

.generic-form label {
    width: 100px;
    margin-right: 10px;
}

.generic-form label.error {
    width: 200px;
    margin-left: 110px;
    margin-right: 0;
}

.generic-form label,
.generic-form input[type="text"],
.generic-form input[type="radio"],
.generic-form input[type="checkbox"] {
    float: left;
}

.generic-form input[type="radio"],
.generic-form input[type="checkbox"] {
    margin-right: 5px;
    margin-top: 1px;
}

.generic-form div {
    overflow: hidden;
    margin-bottom: 10px;
}

.generic-form input[type="text"],
.generic-form textarea {
    width: 400px;
    padding: 4px 6px;
}

.generic-form input[type="text"].small,
.generic-form textarea.small {
    width: 200px;
}

.generic-form input[type="text"].number,
.generic-form textarea.number {
    width: 50px;
}

.generic-form textarea {
    height: 150px;
}

.generic-form input[type="radio"] + label,
.generic-form input[type="checkbox"] + label {
    width: auto;
}

.generic-form .radio-row span {
    float: left;
    margin-right: 10px;
}

.generic-form .error {
    color: #ff0000;
    border-color: #ff0000;
}

.image-tab-content-left input[type="text"],
.image-tab-content-left textarea,
.image-tab-content-left select {
    width: 300px;
}

.number-input {
    width: 50px !important;
}

.number-input + span {
    margin-left: 5px;
}

.slider-manager-left .generic-form input {
    width: 160px;
    float: none;
}

/* ---------------------------------------------------------------------- */
/* Tabs
/* ---------------------------------------------------------------------- */

/*.ui-tabs .ui-tabs-hide {*/
    /*position: absolute;*/
    /*left: -10000px;*/
/*}*/

/*.tabs {*/
    /*margin-bottom: 20px;*/
/*}*/

/*.tabs ul.nav {*/
    /*margin: 0;*/
/*}*/

/*.tabs ul.nav li {*/
    /*float: left;*/
    /*margin: 0 2px -1px 0;*/
    /*position: relative;*/
    /*z-index: 10;*/
/*}*/

/*.tabs ul.nav li a:link, .tabs ul.nav li a:visited {*/
    /*display: block;*/
    /*text-decoration: none;*/
    /*padding: 5px 10px;*/
    /*color: #666 !important;*/
    /*background-color: #f5f5f5;*/
    /*border: 1px solid #dfdfdf;*/
    /*border-bottom: none;*/
    /*border-radius: 3px 3px 0 0;*/
/*}*/

/*.tabs ul.nav li a:hover, .tabs ul.nav li a:active, .tabs ul.nav li.ui-state-active a {*/
    /*color: #000 !important;*/
/*}*/

/*.tabs ul.nav li.ui-state-active a {*/
    /*background-color: #fff;*/
    /*padding-bottom: 6px; *//* makes the unselected tabs appear above the border */
    /*cursor: default;*/
    /*outline: none;*/
/*}*/

/*.tabs .tab {*/
    /*padding: 15px 10px;*/
    /*background-color: #fff;*/
    /*border: 1px solid #dfdfdf;*/
    /*border-radius: 0 3px 3px 3px;*/
/*}*/




.ui-tabs {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 1.5em; /* 18px */
    margin-bottom: 20px;
    padding: 0;
    border: none;
    background: none;
}

.ui-tabs .ui-helper-reset {
    line-height: 1.5em; /* 18px */
}

.ui-tabs .ui-widget-content {
    color: #333;
}

.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000em;
}

.ui-tabs .ui-tabs-nav {
    padding: 0;
    border: none;
}

.ui-tabs .ui-widget-header,
.ui-tabs .ui-state-active {
    background: none;
}

.ui-tabs .ui-tabs-nav li,
.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    float: left;
    margin: 0 2px -1px 0;
    padding: 0;
    position: relative;
    z-index: 10;
    border: none;
}

.ui-tabs .ui-tabs-nav li a {
    display: block;
    padding: 5px 10px;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #dbdbdb;
    border-bottom: none;
    font-weight: bold;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li a:hover {
    background-color: #fafafa;
}

.ui-tabs .ui-tabs-nav li.ui-state-active a {
    background-color: #fff;
    padding-bottom: 6px; /* makes the unselected tabs appear above the border */
    border-left-color: #dbdbdb !important;
    border-right-color: #dbdbdb !important;
}

.ui-tabs .ui-tabs-panel {
    padding: 15px 10px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 0;
    overflow: hidden;
}

.ui-tabs .ui-tabs-panel > *:last-child {
    margin-bottom: 0;
}


/* ---------------------------------------------------------------------- */
/* Accordion
/* ---------------------------------------------------------------------- */
#TB_ajaxContent .accordion {
    margin-bottom: 20px;
}

span.accordion-title {
    display: block;
    position: relative; /* sets the initial position for the icon */
    font-size: 1em; /* 12px */
    line-height: 1.5em; /* 18px */
    padding: 10px 10px 10px 40px;
    margin: 0;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #dfdfdf;
    border-radius: 3px;

    box-shadow: inset 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    background-color: #f1f1f1;
    background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
    background-image: linear-gradient(top, #f9f9f9, #ececec);
}

span.accordion-title.ui-state-active {
    border-bottom: none;
    border-radius: 3px 3px 0 0;
}

.accordion > div {
    margin-bottom: 3px;
    background-color: #f5f5f5;
    background-image: -ms-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -moz-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -o-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #f9f9f9, #f5f5f5);
    background-image: linear-gradient(top, #f9f9f9, #f5f5f5);
}

.accordion > div:first-child > span.accordion-title {
    border-top: 1px solid #dfdfdf;
}

.accordion-inner {
    padding: 15px 10px !important;
    border: 1px solid #dfdfdf !important;
    box-shadow: inset 0 1px 0 #fff;
}

.accordion .ui-icon {
    position: absolute;
    top: 9px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(../images/toggle-plus.png);
    width: 20px;
    height: 20px;
}

.accordion .ui-state-active .ui-icon {
    background-image: url(../images/toggle-minus.png);
}

.accordion-inner .generic-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    background: none;
}

.accordion-inner .generic-form legend {
    background: none;
    border: none;
    border-radius: 0;
    padding: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

/* ---------------------------------------------------------------------- */
/* Shortcodes
/* ---------------------------------------------------------------------- */
.image-tab-content {
    margin-bottom: 10px;
    overflow: hidden;
}

.image-tab-content-left {
    float: left;
    margin-right: 10px;
}

.image-tab-content-right {
    float: left;
}

.image-tab-content-right img {
    display: block;
    padding: 4px;
    border: 1px solid #dfdfdf;
    background-color: #fff;
}

/* ---------------------------------------------------------------------- */
/* Widgets
/* ---------------------------------------------------------------------- */
.widgets-full-width .widget-holder {
    background-color: #fcfcfc;
    border-color: #dfdfdf;
    padding: 10px;
    border-width: 0 1px 1px;
    border-style: none solid solid;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

/* ---------------------------------------------------------------------- */
/* Editor
/* ---------------------------------------------------------------------- */
span.wp-sc-buttons-icon {
    background: url("../images/shortcode/document-code.png") no-repeat scroll left top transparent;
}

span.wp-sc-buttons-icon {
    display: inline-block;
    height: 16px;
    margin: 0 2px;
    vertical-align: text-top;
    width: 16px;
}

.settings-editor, .video-editor, .slider-editor, .contact-editor, .shortcode-editor {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
}

/* ---------------------------------------------------------------------- */
/* Slider Manager
/* ---------------------------------------------------------------------- */

.slider-manager-wrap, .slider-manager-wrap * {
    margin: 0;
    padding: 0;
}

.slider-manager-wrap {
   padding-top: 13px;
}

.slider-manager-wrap img {
    display: block;
}

.slider-manager-wrap ul {
    list-style: none;
}

.type-img, .type-video {
    position: absolute;
    background: no-repeat center center;
    right: -1px;
    top: -1px;
}

.type-img {
    background-image: url("../images/MD-photo.png");
    width: 14px;
    height: 10px;
}

.type-video {
    background-image: url("../images/MD-video.png") ;
    width: 10px;
    height: 14px;
}

.edit-meta-slider-slide-button {
    display: inline-block;
    margin-top: 5px;
}

.button-primary + .button-secondary {
    margin-left: 3px;
}

/* Slider Container */

.slider-manager-container {
    overflow: hidden;
    position: relative;
}

#slider-manager-add-video {
    position: absolute;
    right: 0;
}

#slider-manager-add-video a {
    float: left;
    margin-left: 20px;
    background: url("../images/plus_16.png") no-repeat left center;
    padding-left: 22px;
}

.slider-manager-container .thumbs {
    overflow: hidden;
}

.slider-manager-container .thumbs li {
    float: left;
    margin-right: 15px;
    margin-bottom: 30px;
}

.slider-manager-container .thumbs li .img-wrap {
    background-color: #fff;
    padding: 4px;
    border: 1px solid #DFDFDF;
    width: 150px;
    height: 150px;
    position: relative;
}

.slider-manager-container .thumbs li img {
    max-width: 100%;
    max-height: 100%;
}

.delete-slider-slide-button {
    position:  absolute;
    right: -11px;
    bottom: -11px;
    background: #fff url("../images/delete_16.png") no-repeat center center;
    border: 1px solid #dfdfdf;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    text-indent: -10000em;
}

.slider-manager-container .tab > fieldset > div {
	overflow: hidden;
	margin-bottom: 15px;
}

.slider-manager-container .tab label {
	width: 150px;
	float: left;
}

/* ---------------------------------------------------------------------- */
/* Translation Manager
/* ---------------------------------------------------------------------- */

.tm-msg-wrap {
    margin-bottom: 5px;
}

.tm-msg {
    width: 600px;
}

.tm-key {
    width: 180px;
}

/* ---------------------------------------------------------------------- */
/* Styling
/* ---------------------------------------------------------------------- */
.of-color, .of-color-select {
    float: left;
    margin-left: 5px;
}

.option {
    overflow: hidden;
    margin-bottom: 20px;
}

.controls {
    float: left;
    margin-right: 10px;
}

.plugin-content {
    margin-top: 15px;
}

.color-thumbs {
    overflow: hidden;
    margin: 0;
}

.color-thumbs li {
    float: left;
    margin: 0 5px 5px 0;
}

.color-thumbs a {
    display: block;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 1px #333 inset;
}

.color-thumbs li a.selected {
    box-shadow: 0 0 0 2px #333 inset;
}

.color-thumbs .orange {
    background-color: #F78E0C;
}

.color-thumbs .green {
    background-color: #93ac12;
}

.color-thumbs .retro-green {
    background-color: #6D8D5B;
}

.color-thumbs .blue {
    background-color: #2A8FBD;
}

.color-thumbs .light-orange {
     background-color: #EB7F00;
 }

.color-thumbs .yellow {
     background-color: #FBB829;
 }

.color-thumbs .indigo {
     background-color: #4c6192;
 }

.color-thumbs .red {
    background-color: #E64141;
}

.color-thumbs .purple {
    background-color: #723F8E;
}

.color-thumbs .pink {
    background-color: #BD2346;
}

.color-thumbs .teal {
    background-color: #4FA29A;
}

.color-thumbs .black {
    background-color: #383838;
}

/* ---------------------------------------------------------------------- */
/* IE7 & IE8
/* ---------------------------------------------------------------------- */

/* IE7 */

*+html .generic-form fieldset {
    position: relative;
    margin-top: 25px;
    padding-top: 20px;
}

*+html .generic-form legend {
    position: absolute;
    top: -15px;
    left: 10px;
}

*+html #TB_ajaxContent {
    position: relative;
}

/* IE8 */

@media \0screen {
    .generic-form fieldset {
        position: relative;
        margin-top: 25px;
        padding-top: 20px;
    }

    .generic-form legend {
        position: absolute;
        top: -15px;
        left: 10px;
    }
}